<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Shopping</title>
 </head>
 <body>
    <h1>Make your form here</h1>

    <form action="/pirates" method="post">
      <p>Add Item: <input type="text" name="pirate[name]"></p>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
